{% extends 'new_custom/new_templates/index2.html' %}
{% block title %}Exam Details{% endblock %}
{% block style %}
<style>
    body {
        font-family: 'Inter', sans-serif;
        background-color: rgb(255, 253, 208);
    }

    .card {
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        padding: 1.5rem;
        margin: 2rem auto;
    }

    #past-exam-title {
        max-width: 100%;
        display: block;
        word-wrap: break-word;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #2c3e50;
    }

    .unpublished-badge {
        background-color: #e74c3c;
        color: white;
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .info-box {
        background-color: #f0f0f0;
        padding: 1rem;
        border-radius: 0.375rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .info-box-label {
        font-weight: 500;
        color: #34495e;
    }

    .info-box-value {
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        max-width: 200px;
        display: inline-block;
        position: relative;
    }

    .btn-custom {
        font-weight: 500;
        padding: 0.75rem;
        border-radius: 0.375rem;
    }

    .btn {
        background: linear-gradient(to right, #FFB300, #F57C00);
        color: white;
        border: none;
        padding: 12px 25px;
        border-radius: 8px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-out;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .btn:hover {
        background: linear-gradient(to right, #FFC107, #FF9800);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    .btn:active {
        background: linear-gradient(to right, #E65100, #FFB300);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
        outline: none;
    }

    .main-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 5px;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
    }

    .main-card-container {
        flex: 1;
        min-width: 300px;
        max-width: 650px;
    }

    .responsive-iframe-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        flex-basis: 300px;
        flex-shrink: 0;
        max-width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 5px;
        border-radius: 8px;
    }

    .responsive-iframe-container iframe {
        width: 100%;
        height: 100%;
    }

    .close-button {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: #ff6600;
        color: white;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease;
    }

    .close-button:hover {
        background-color: #cc5200;
    }


    /* video ad */
    .video-js {
        width: 640px;
        height: 360px;
        margin: auto;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        border-radius: 8px;
    }


    @media (min-width: 769px) {
        .card {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        .info-box {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .info-box-label {
            margin-bottom: 0.25rem;
        }

        .main-content-wrapper {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        .responsive-iframe-container {
            margin-bottom: 20px;
            height: 250px;
        }

        .card {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
</style>

{% endblock %}

{% block content %}
<div class="container ">
    <div class="main-content-wrapper">
        <div class="main-card-container my-4">
            <div class="card bg-white">
                <h1 class="card-title text-center mb-4" id="past-exam-title"></h1>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">মোট প্রশ্ন</span>
                            <span class="info-box-value" id="past-exam-total-questions"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">মোট নম্বর</span>
                            <span class="info-box-value" id="past-exam-total-marks"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">পরীক্ষার তারিখ</span>
                            <span class="info-box-value" id='past-exam-date'></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">নেগেটিভ নম্বর</span>
                            <span class="info-box-value" id='past-exam-negative-marks'></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">প্রতিষ্ঠান</span>
                            <span class="info-box-value" id='past-exam-organization'></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">বিভাগ</span>
                            <span class="info-box-value" id='past-exam-department'></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">পদ</span>
                            <span class="info-box-value" id="past-exam-position"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">সময়কাল</span>
                            <span class="info-box-value"><span id='past-exam-duration'></span> মিনিট</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">প্রণেতা</span>
                            <span class="info-box-value"><span id='exam-created-by'></span></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-box">
                            <span class="info-box-label">প্রণীত তারিখ</span>
                            <span class="info-box-value"><span id='exam-created-at'></span></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 mb-2">
                        <button class="btn w-100 btn-custom" id="read">অনুশীলন করুন</button>
                    </div>
                    <div class="col-6 mb-2">
                        <button class="btn w-100 btn-custom" id="start-exam-btn">মূল্যায়ন</button>
                    </div>
                    <div class="col-6 mb-2">
                        <button class="btn w-100 btn-custom" id="leaderboard">লিডারবোর্ডে</button>
                    </div>
                    <div class="col-6 mb-2">
                        <button class="btn w-100 btn-custom" id="past_result">রেজাল্ট</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}

<script src="../../../static/Js/new_templates_js/quiz/new_past_exam_details.js"></script>
{% endblock %}