{% include "../../partials/mainhead.html"%}

<style>
    .clickable-row {
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .clickable-row:hover {
        background-color: #6082B6;
        color: white;
    }

    .bg-success {
        background-color: #51829B !important;
    }

    .tab-pane {
        padding-top: 1rem;
    }
</style>

</head>
<body>
    {% load static %}
    {% include "../../partials/switcher.html" %}
    <div class="page">
        {% include "../../partials/header.html"%}
        {% include "../../partials/sidebar.html" %}

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container mt-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-4" id="userSummaryTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="summary1-tab" data-bs-toggle="tab" data-bs-target="#summary1" type="button" role="tab" aria-controls="summary1" aria-selected="true">Model Test Summary</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="summary2-tab" data-bs-toggle="tab" data-bs-target="#summary2" type="button" role="tab" aria-controls="summary2" aria-selected="false">বিগত বছরের পরিক্ষার Summary</button>
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content" id="userSummaryTabContent">

                    <!-- User Summary 1 -->
                    <div class="tab-pane fade show active" id="summary1" role="tabpanel" aria-labelledby="summary1-tab">
                        <div class="row gy-4">
                            <div class="col-12 col-lg-6">
                                <div class="card w-100 p-4">
                                    <div class="text-center my-4">
                                        <img src="{% static 'images/user_9071610.png' %}" alt="User Icon" class="rounded-circle mb-3" width="100" height="100">
                                        <h4 id="username" class="mb-3 text-muted">Username 1</h4>
                                        <p class="text-muted mb-1">Position: 2</p>
                                        <div class="bg-info text-white rounded mb-3 py-2 mx-auto" style="width:100px">Top Level</div>
                                        <div>Member Since: 21/10/2024</div>
                                        <div class="text-muted">Total Balance: 0 &emsp; Total Points: 0</div>
                                    </div>

                                    <h5 class="text-center text-muted">My Exam Summary</h5>
                                    <div class="px-4 rounded-3 border mb-4">
                                        <table class="table my-4 text-start">
                                            <tbody>
                                                <tr><th>Exams</th><td id="total-attempts">0</td></tr>
                                                <tr><th>Total Passed:</th><td id="total-passed" class="text-muted">0</td></tr>
                                                <tr><th>Total Failed:</th><td id="total-failed" class="text-muted">0</td></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="px-4 mb-4">
                                        <table class="table text-start">
                                            <tbody>
                                                <tr class="bg-success text-white"><th>Questions</th><td id="total-questions">0</td></tr>
                                                <tr class="clickable-row"><th>Answers</th><td id="total-answered">0</td></tr>
                                                <tr class="clickable-row"><th>Right Ans</th><td id="total-correct-answers">0</td></tr>
                                                <tr class="clickable-row"><th>Wrong Ans</th><td id="total-wrong-answers">0</td></tr>
                                                <tr><th>No Ans</th><td id="total-unanswered">0</td></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="px-4">
                                        <table class="table text-start">
                                            <tbody>
                                                <tr class="bg-success text-white"><th>Marks</th><td>0</td></tr>
                                                <tr><th>Obtain Mark</th><td class="text-muted">0</td></tr>
                                                <tr><th>Negative Mark</th><td class="text-muted">N/A</td></tr>
                                                <tr><th>Position</th><td class="text-muted">N/A</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Chart -->
                            <div class="col-12 col-lg-6">
                                <div class="card w-100">
                                    <div class="mb-3">
                                        <canvas id="correctAnswersChart1" width="400" height="200"></canvas>
                                        <div class="time-period-selector d-flex justify-content-center align-items-center gap-2 mt-2">
                                            <label><input type="radio" name="timePeriod1" value="all" checked> All</label>
                                            <label><input type="radio" name="timePeriod1" value="weekly"> Weekly</label>
                                            <label><input type="radio" name="timePeriod1" value="monthly"> Monthly</label>
                                            <label><input type="radio" name="timePeriod1" value="yearly"> Yearly</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="container mt-5">
                                    <h1 class="text-center text-muted">Exams and Attempts</h1>
                                    <div id="examList1" class="accordion my-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User Summary 2 -->
                    <div class="tab-pane fade" id="summary2" role="tabpanel" aria-labelledby="summary2-tab">
                        <div class="tab-pane fade show active" id="summary1" role="tabpanel" aria-labelledby="summary1-tab">
                        <div class="row gy-4">
                            <div class="col-12 col-lg-6">
                                <div class="card w-100 p-4">
                                    <div class="text-center my-4">
                                        <img src="{% static 'images/user_9071610.png' %}" alt="User Icon" class="rounded-circle mb-3" width="100" height="100">
                                        <h4 id="username" class="mb-3 text-muted">Username 1</h4>
                                        <p class="text-muted mb-1">Position: 2</p>
                                        <div class="bg-info text-white rounded mb-3 py-2 mx-auto" style="width:100px">Top Level</div>
                                        <div>Member Since: 21/10/2024</div>
                                        <div class="text-muted">Total Balance: 0 &emsp; Total Points: 0</div>
                                    </div>

                                    <h5 class="text-center text-muted">My Exam Summary</h5>
                                    <div class="px-4 rounded-3 border mb-4">
                                        <table class="table my-4 text-start">
                                            <tbody>
                                                <tr><th>Exams</th><td id="total-attempts">0</td></tr>
                                                <tr><th>Total Passed:</th><td id="total-passed" class="text-muted">0</td></tr>
                                                <tr><th>Total Failed:</th><td id="total-failed" class="text-muted">0</td></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="px-4 mb-4">
                                        <table class="table text-start">
                                            <tbody>
                                                <tr class="bg-success text-white"><th>Questions</th><td id="total-questions">0</td></tr>
                                                <tr class="clickable-row"><th>Answers</th><td id="total-answered">0</td></tr>
                                                <tr class="clickable-row"><th>Right Ans</th><td id="total-correct-answers">0</td></tr>
                                                <tr class="clickable-row"><th>Wrong Ans</th><td id="total-wrong-answers">0</td></tr>
                                                <tr><th>No Ans</th><td id="total-unanswered">0</td></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="px-4">
                                        <table class="table text-start">
                                            <tbody>
                                                <tr class="bg-success text-white"><th>Marks</th><td>0</td></tr>
                                                <tr><th>Obtain Mark</th><td class="text-muted">0</td></tr>
                                                <tr><th>Negative Mark</th><td class="text-muted">N/A</td></tr>
                                                <tr><th>Position</th><td class="text-muted">N/A</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Chart -->
                            <div class="col-12 col-lg-6">
                                <div class="card w-100">
                                    <div class="mb-3">
                                        <canvas id="correctAnswersChart1" width="400" height="200"></canvas>
                                        <div class="time-period-selector d-flex justify-content-center align-items-center gap-2 mt-2">
                                            <label><input type="radio" name="timePeriod1" value="all" checked> All</label>
                                            <label><input type="radio" name="timePeriod1" value="weekly"> Weekly</label>
                                            <label><input type="radio" name="timePeriod1" value="monthly"> Monthly</label>
                                            <label><input type="radio" name="timePeriod1" value="yearly"> Yearly</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="container mt-5">
                                    <h1 class="text-center text-muted">Exams and Attempts</h1>
                                    <div id="examList1" class="accordion my-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>

        {% include "../../partials/headersearch_modal.html"%}
        {% include "../../partials/footer.html" %}
    </div>

    {% include "../../partials/commonjs.html"%}
    {% include "../../partials/custom_switcherjs.html"%}

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <!-- Your Custom JS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'Js/user/user_summary.js' %}"></script>
</body>
</html>
